.homepage {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    align-items: center;
    justify-items: center;
    background-image: url(https://images.unsplash.com/photo-1476362555312-ab9e108a0b7e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.avatar {
    width: 215px;
    height: 215px;
    border-radius: 150px;
}
.bio {
    font-size: 1.5em;
    width: 60%;
    color: #FFFFFF;
}
.links-wrapper {
    display: flex;
    gap: 150px;
    justify-content: center;
    width: 60%;
    .link {
        color: #FFFFFF;
    }
    .linkedin {
        border-radius: 100px;
    }
}