.portfolio-page {
  background-color: #181818;
  color: #ffffff;
}
.back-splash {
  width: 100%;
  height: 20vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("https://images.unsplash.com/photo-1444080748397-f442aa95c3e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1490&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-size: 4vw;
}
.portfolio-contaner {
  height: 70vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .portfolio-item-wrapper {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1444080748397-f442aa95c3e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1490&q=80");
    height: 100%;
    width: 100%;
  }
  .img-text-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;

    .subtitle {
      transition: 0.5s ease-in-out;
      color: transparent;
    }
  }
  .img-text-wrapper:hover .subtitle {
    color: #ffffff;
    font-weight: 400;
  }
  .logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
  }
}
.image-blur {
  transition: 0.75s;
  filter: brightness(15%);
}
